


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Yapay Zeka Final Projesi</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="stylesheet" href="{{ url_for('static', filename='img/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/animate.css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}">

</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:ddoganbburak@gmail.com">ddoganbburak@gmail.com</a>
        <i class="bi bi-phone"></i> +90 507 659 02 53
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="https://www.linkedin.com/in/burak-dogan-07a2b6211/" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        <a href="https://github.com/burakdogangazi" class="github"><i class="bi bi-github"></i></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="#">Yapay Zeka Final Projesi</a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Ana Sayfa</a></li>
          <li><a class="nav-link scrollto" href="#about">Proje Hakkında</a></li>
          <li><a class="nav-link scrollto" href="#services">Hizmetler</a></li>
          <li><a class="nav-link scrollto" href="#faq">Sıkça Sorulan Sorular</a></li>
          <li><a class="nav-link scrollto" href="#appointment">Segmentasyonu Başlat</a></li>
          <li><a class="nav-link scrollto" href="#contact">İletişim</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>CT İle 3D Karaciğer Tümör Segmentasyonu</h1>
      <h2>Yüklenen kullanıcı NIFTI dosyası yardımıyla karaciğer tümör segmentasyonu gerçekleştiriyoruz. </h2>
      <a href="#appointment" class="btn-get-started scrollto">Başla</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Uygulamamızı neden kullanmalısınız?</h3>
              <p>
                CT İle yüksek doğrulukta karaciğüer tümör segmentasyonu ile karaciğüer tümör tespitiniz kolaylaşmaktadır.
              </p>
              <div class="text-center">
                <a href="https://www.who.int/health-topics/pneumonia#tab=tab_1" class="more-btn">Daha Fazla Öğren <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Hızlı Sonuç</h4>
                    <p>Yapay zeka algoritmalarının kullanımıyla, Yüksek hızda doğru sonuçlar sunmaktadır.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Yüksek Güvenilirlik</h4>
                    <p>Taramalar CT ile gerçekleştirilir ve yüksek doğru sonuçlar sunmaktadır.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>CT Taraması</h4>
                    <p>Sistem yüksek doğrulukta CT taraması gerçekleştirebilir./p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>Zaatüre Hastalığında Ön Tanı</h3>
            <p>Zatürre hastalığı, özellikle kış aylarında sık görülen, ölümcül sonuçlar doğurabilen bir enfeksiyon hastalığıdır. Erken tanı ve tedavi, hastalığın ilerlemesini engelleyerek hastanın sağlığını koruyabilir. Ancak zatürre tanısı koymak, uzmanlık gerektiren bir işlemdir. Bu nedenle, yapay zeka teknolojisi ile desteklenen bir zatürre ön tanı uygulaması, hastalığın daha hızlı ve doğru bir şekilde teşhis edilmesine yardımcı olabilir. Bu uygulama, yüksek güvenilirlik seviyeleri ve hızlı sonuçlarıyla sağlık profesyonellerinin zatürre hastalığının teşhisinde karşılaştığı zorlukları azaltabilir.</p>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Projenin Amacı</a></h4>
              <p class="description">Karaciğer tümörü gibi zor bir hastalığın segmentasyonunu otonomlaştırarak kolaylaştırmaktır.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Projenin Yöntemi</a></h4>
              <p class="description">Yapay zeka teknolojileri ve NIFTI formatı kullanılarak, karaciğer CT görüntülerinin analizi yapılmaktadır. Yapay zeka algoritmaları, CT üzerinden segmentasyon yapmaktadır.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Projenin faydaları</a></h4>
              <p class="description">Yüksek güvenilirlik ve doğruluk oranı, hızlı segmentasyon ortaya konulmasına yol açarak tedavi sürecini hızlandırabilmektedir.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Hizmetler</h2>
          <p>Uygulamamızın kullanıcıya sunduğu deneyimler aşağıda yer almaktadır.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4><a href="">Karaciğer Segmentasyonu</a></h4>
              <p>Uygulama, görüntüleri analiz ederek karaciğer segmentasyonu yapabilir ve sonucu kullanıcıya sunabilir.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-pills"></i></div>
              <h4><a href="">CT Analizi</a></h4>
              <p>CT ile animasyon oluşturarak bütün görüntüde analiz gerçekleştirebilmektedir.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-hospital-user"></i></div>
              <h4><a href="">Güvenilirlik</a></h4>
              <p>Verilen CT görüntüsü yüksek güvenilirlik ile güvenli sistemlerde işlenmekte olup geçiçi dosyalar işlem sonunda silinmektedir.</p>
            </div>
          </div>

   

        </div>

      </div>
    </section><!-- End Services Section -->

        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
         <div class="container">
   
           <div class="section-title">
             <h2>Sıkça Sorulan sorunları</h2>
             <p>Bize ulaşmadan önce aradığınız sorunun çözümünü sıkça sorulan sorular bölümünden bulabilirsiniz.</p>
           </div>
   
           <div class="faq-list">
             <ul>
               <li data-aos="fade-up">
                 <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Karaciğer tümörü nedir ve neden oluşur? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                 <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                   <p>
                    Karaciğer tümörü, karaciğerde anormal hücre büyümesidir ve nedenleri arasında kronik karaciğer hastalığı, alkol tüketimi, aşırı kilo, viral enfeksiyonlar ve genetik faktörler yer alır. Ancak tam nedenleri tam olarak anlaşılamamıştır.
                  </p>
                 </div>
               </li>
   
               <li data-aos="fade-up" data-aos-delay="100">
                 <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">karaciğer tümörü segmentasyonu neden önemlidir?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                 <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                   <p>
                    Karaciğer tümörü segmentasyonu, bir tümörün yerini ve boyutunu belirlemek için karaciğer görüntüleri üzerinde yapılır. Bu segmentasyon işlemi, tümörün daha doğru bir şekilde değerlendirilmesine ve tedavi planının hazırlanmasına yardımcı olur.                  </p>
                 </div>
               </li>
   
               <li data-aos="fade-up" data-aos-delay="200">
                 <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">NIfTI nedir ve nasıl kullanılır?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                 <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                   <p>
                    NIfTI (Neuroimaging Informatics Technology Initiative) veri formatı, nörobilim araştırmalarında sıklıkla kullanılan bir veri formatıdır. NIfTI, manyetik rezonans görüntüleme (MRI) verilerini saklamak ve paylaşmak için tasarlanmıştır.                   </p>
                 </div>
               </li>
   
               <li data-aos="fade-up" data-aos-delay="300">
                 <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Karaciğer Tümör Segmentasyonu için yapay zeka (AI) teknolojisi ve NIfTI arasındaki ilişki nedir?  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                 <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                   <p>
                    Karaciğer tümörü segmentasyonu için yapay zeka teknolojisi, NIfTI veri formatı ile birlikte kullanılabilir. Yapay zeka algoritmaları, karaciğer görüntülerini otomatik olarak analiz etmek ve tümörlerin yerini, boyutunu ve şeklini belirlemek için kullanılabilir                  </p>
                 </div>
               </li>
   
               <li data-aos="fade-up" data-aos-delay="400">
                 <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Gelecekte NIfTI ve yapay zeka teknolojilerinin karaciğer tümör segmentasyonu alanında nasıl kullanılması planlanmaktadır? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                 <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                   <p>
                    Gelecekte NIfTI ve yapay zeka teknolojilerinin karaciğer tümör segmentasyonu alanında kullanımı, daha doğru tanı ve tedavi yöntemlerinin geliştirilmesine olanak tanıyacak ve hastaların tedavisi için daha kişiselleştirilmiş bir yaklaşım sağlayacaktır.                   </p>
                 </div>
               </li>
   
             </ul>
           </div>
   
         </div>
       </section><!-- End Frequently Asked Questions Section -->
   

    <!-- ======= Appointment Section ======= -->
    <section id="appointment" class="appointment section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Karaciğer Tümörü Segmentasyonu</h2>
          <p>Lütfen NIfTI dosya formatında karaciğer CT görüntüsünü yükleyiniz.</p>
        </div>

        <form method="POST" enctype="multipart/form-data" action = "{{ url_for('predict') }}" role="form">
         <div class="form-group mt-3">
           <label for="fileInput" class="form-label">Dosya Seçin</label>
           <input type="file" class="form-control" id="fileInput" name="file">
         </div>
         <div class="text-center"><button class="btn btn-success mt-4" type="submit">Segmentasyon İşlemlerini Başlat</button></div>
       </form>

      </div>
    </section><!-- End Appointment Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 footer-contact">
            <h3>Mezuniyet Tezi</h3>
            <p>
              Gazi Üniversitesi <br>
              Teknoloji Fakültesi<br>
              Bilgisayar Mühendisliği Yenimahalle/Ankara <br><br>
              <strong>Phone:</strong> +90 507 659 02 53<br>
              <strong>Email:</strong> ddoganbburak@gmail.com<br>
            </p>
          </div>    

          <div class="col-lg-6 col-md-6 footer-links">
            <h4>Hizmetlerimiz</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Karaciğer Tümör Segmentasyonu</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">CT İle Yüksek Doğruluk</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->

  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  
</body>

</html>
